<!doctype html>
<html>
<head>
	<title>Skill tree viewer</title>
	<script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<style>
		body {
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
		
		p {
			margin: 5px;
		}

		@media print {
			.no-print {
				visibility: hidden;
			}
		}

		.dependencyOverlay {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: gray;
			opacity: 0.8;
			color: white;
			font-size: 2em;
		}

		.flexCenter {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.tree-selector {
			position: fixed;
			top: 10px;
			left: 50%;
			transform: translate(-50%);
			min-width: 200px;
			text-align: center;
			font-size: 1.5em;
			z-index: 100;
		}

		.current-tree {
			text-align: center;
		}

		.skill-tiers {
			display: grid;
			width: min-content;
			margin-left: auto;
			margin-right: auto;
		}

		.empty-skill {
			width: 197px;
		}

		.row {
			display: grid;
			grid-template-columns: subgrid;
			border-top: solid 1px black;
		}

		.cell {
			padding: 20px;
			display: flex;
		}

		.tier {
			display: flex;
			align-items: center;
			font-size: 1.25em;
			white-space: nowrap;
			padding: 10px;
		}

		.skill {
			position: relative;
			border: solid 1px black;
			padding: 10px;
			width: 250px;
			text-align: center;
		}

		.skill.active {
			background-color: lightgreen;
		}

		.skill.ultimate {
			background-color: lightpink;
		}

		.skill.passive {
			background-color: lightgrey;
		}

		.skill .type {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: bolder;
			font-size: 1.2em;
			padding: 3px;
		}

		.skill .items {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.skill .description {
			flex-grow: 1;
		}

		.skill .cost {
			font-size: 1.3em;
			justify-self: end;
		}

		.skill .title {
			font-weight: bolder;
			font-size: 1.5em;
		}
	</style>
</head>
<template id="skill">
	<div :class="classes" :style="style">
		<div class="type">{{ skill.type }}</div>
		<div class="items">
			<p class="title">{{ skill.title || "" }}</p>
			<p class="description">{{ skill.description }}</p>
			<p class="cost">{{ skill.cost }} SP</p>
		</div>
		<div class="dependencyOverlay flexCenter" v-show="showDepOverlay">
			<div>Dependency</div>
		</div>
	</div>
</template>
<body>
	<div id="app">
		<select class="tree-selector no-print" @change="currentTreeName = $event.target.value">
			<option :value="tree" v-for="tree in trees">{{ tree }}</option>
		</select>
		<h1 class="current-tree">{{ currentTreeName }}</h1>
		<div class="skill-tiers" :style="{ gridTemplateColumns: `repeat(${rowSize + 1}, 1fr)` }">
			<template v-for="row, index in skillRows">
				<div class="row" :style="{ gridColumn: `1 / span ${rowSize+1}` }">
					<div class="tier">Tier {{skillRows.length - index - 1}}</div>
					<template v-for="cell in row">
						<div :class="['cell'].concat(cell?.classes ?? [])" :style="cell?.style">
							<Skill v-if="cell?.skill" :skill="cell.skill" :show-dep-overlay="cell?.showDependency" @mouseenter="mouseenter(cell, $event)" @mouseleave="mouseexit"></Skill>
							<div v-else class="empty-skill"></div>
						</div>
					</template>
				</div>
			</template>
		</div>
	</div>
	<script type="text/javascript">
		grist.ready({ columns: [
			{
				name: "title",
				title: "Skill title",
				optional: false,
				type: "Text",
			},
			{
				name: "description",
				title: "Skill description",
				optional: false,
				type: "Text",
			},
			{
				name: "cost",
				title: "Skill cost",
				optional: false,
				type: "Any",
			},
			{
				name: "tier",
				title: "Skill tier",
				optional: false,
				type: "Any",
			},
			{
				name: "type",
				title: "Skill type",
				optional: false,
				type: "Text",
			},
			{
				name: "tree",
				title: "Skill tree",
				optional: true,
				type: "Text",
			},
			{
				name: "priority",
				title: "Horizontal priority",
				optional: true,
				type: "Numeric",
			},
			{
				name: "dependencyIds",
				title: "Dependencies",
				optional: true,
				type: "Reference"
			}	
		]});


		const testSkills = [
			{
				id: 1,
				title: "Skill 1 (Family A)",
				description: "Does a thing",
				cost: 1,
				tier: 0,
				type: "A",
				tree: "Combat",
			},
			{
				id: 2,
				title: "Skill 2",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "P",
				tree: "Combat",
				priority: 100,
			},
			{
				id: 3,
				title: "Skill 3 (Family A)",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "P",
				tree: "Combat",
				//horizontalPriority: 1,
				dependencyIds: [1],
			},
			{
				id: 4,
				title: "Skill Four (Family A)",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				tree: "Combat",
				dependencyIds: [3],
			},
			{
				id: 5,
				title: "Skill Five",
				description: "Does a whole lot of thing, some of which may be important, some of which may be not. What matters is, this text is long.",
				cost: 2,
				tier: 3,
				type: "U",
				tree: "Combat",
			},
			{
				id: 6,
				title: "Skill Six",
				description: "Does something",
				cost: 2,
				tier: 3,
				type: "U",
				tree: "Combat",
			},
			{
				id: 7,
				title: "Skill S - 1A",
				description: "Does something",
				cost: 2,
				tier: 1,
				type: "U",
				tree: "Combat",
			},
			{
				id: 8,
				title: "Skill S - 1B",
				description: "Does something",
				cost: 2,
				tier: 1,
				type: "U",
				tree: "Combat",
				priority: 50,
			},
			{
				id: 9,
				title: "Skill S - 2",
				description: "Does something",
				cost: 2,
				tier: 2,
				type: "U",
				tree: "Combat",
				dependencyIds: [ 7, 8 ],
			},
			{
				id: 10,
				title: "Skill S - 3",
				description: "Does something",
				cost: 2,
				tier: 3,
				type: "U",
				tree: "Combat",
				dependencyIds: [ 9 ],
			},
			{
				id: 11,
				title: "Skill S - 4",
				description: "Does something",
				cost: 2,
				tier: 4,
				type: "U",
				tree: "Combat",
				dependencyIds: [ 10 ],
			},
			{
				id: 107,
				title: "Skill One",
				description: "Does a thing",
				cost: 1,
				tier: 0,
				type: "P",
				tree: "Pointman",
			},
			{
				id: 108,
				title: "Skill Two",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "A",
				tree: "Pointman",
			},
			{
				id: 109,
				title: "Skill Three",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "U",
				tree: "Pointman",
			},
		]

		const { createApp, ref, computed, watch } = Vue

		const Skill = {
			props: {
				skill: Object,
				showDepOverlay: Boolean,
			},
			setup(props, ctx) {
				const skillTypeClassMap = {
					P: 'passive',
					A: 'active',
					U: 'ultimate',
				}

				const classes = computed(() => {
					const classValues = ['skill']

					if (props.skill.type) {
						classValues.push(skillTypeClassMap[props.skill.type])
					}

					return classValues
				})

				return {
					classes,
				}
			},
			template: document.querySelector('#skill').getHTML()
		}

		const App = createApp({
			components: {
				Skill,
			},
			setup() {
				const urlParams = new URLSearchParams(window.location.search);
				const inTestMode = urlParams.get('test');

				const rawSkills = ref(inTestMode ? testSkills : []);

				grist.onRecords(function (records, mappings) {
					console.log("Received records from Grist")
					const mappedRecords = records.map(grist.mapColumnNames)
					console.log(mappedRecords)

					rawSkills.value = mappedRecords;
				});

				const allSkills = computed(() => {
					const normalizedSkills = rawSkills.value.map(skill => ({
						...skill,
						dependencyIds: skill.dependencyIds ?? [],
					}));

					return normalizedSkills
				})

				const treeNames = computed(() => {
					console.log("Evaluating trees")
					console.log(allSkills.value)
					const trees = new Set();
					for (let skill of allSkills.value) {
						trees.add(skill.tree || "No tree")
					}
					return Array.from(trees)
				})

				const currentTreeName = ref(treeNames.value[0])

				watch(treeNames, (newTrees) => {
					if (!newTrees.includes(currentTreeName.value)) {
						currentTreeName.value = newTrees[0]
					}
				})

				const highestTier = computed(() => Math.max(...allSkills.value.map(skill => skill.tier)))

				const skillTrees = computed(() => {
					const trees = {};
					for (const treeName of treeNames.value) {
						const tree = {
							name: treeName,
							allSkills: [],
							skillsById: {},
							skillsByTier: [],
						}
						trees[treeName] = tree

						for (let i = 0; i <= highestTier.value; i++) {
							tree.skillsByTier[i] = [];
						}
					}

					for (let skill of allSkills.value) {
						const tree = trees[skill.tree];
						tree.allSkills.push(skill);
						tree.skillsById[skill.id] = skill;
						tree.skillsByTier[skill.tier].push(skill);
					}

					for (const tree of Object.values(trees)) {
						tree.skillsByTierHighestFirst = tree.skillsByTier.slice().reverse()
					}

					return trees;
				})

				const currentTree = computed(() => skillTrees.value[currentTreeName.value])

				const sampleNode = {
					row: 0,
				}

				const sampleBlock = {
					startRow: 0,
					height: 0,
					width: 0,
					node: undefined,
					blocks: [],
					column: undefined, // Assigned when allocated to a gap
				}

				// Constraints:
				// - Cannot overlap
				// - Column A cannot be undefined
				const mergeColumns = (columnA, columnB) => {
					if (!columnB) {
						return columnA;
					}
					// Need to identify the top column. They should always be stacking one way or another, and not need merging at the node level.
					if (columnB.startRow < columnA.startRow ) {
						let temp = columnA;
						columnA = columnB;
						columnB = temp;
					}
					console.log("Merging")
					console.log(columnA)
					console.log(columnB)
					return {
						startRow: columnA.startRow,
						height: columnB.startRow + columnB.height - columnA.startRow,
						nodesInRowOrder: columnA.nodesInRowOrder.concat(columnB.nodesInRowOrder),
						// Should be fine - we never add a lower priority column to a higher one.
						priority: Math.max(columnA.priority, columnB.priority),
					}
				}

				const combineColumnLayouts = (columnLayouts) => {
					if (columnLayouts.length === 0) { return [] }
					if (columnLayouts.length === 1) {
						return columnLayouts[0]
					}

					let finalLayout = [];
					console.log("Final layout")
					console.log(finalLayout.slice());

					const sortedLayouts = columnLayouts.sort((columnsA, columnsB) => columnsA[0].startRow - columnsB[0].startRow)

					for (const layout of columnLayouts) {
						// Nasty big loop I'd want to get rid of - the nested loops are too much iteration. There's probably a more optimal way to do this.
						// Maybe with additional constraints?
						console.log("Testing layout")
						console.log(layout)

						// Priority is set by the first node in the layout for simplicity.
						const layoutPriority = layout[0].priority;
						let insertionIndex = -1;
						let extend = false;
						for (let fColI = 0; fColI < finalLayout.length; fColI++) {
							if (insertionIndex > -1) {
								break;
							}
							for (let colI = 0; colI < layout.length; colI++) {
								console.log(`Testing column pair: ${fColI},${colI}`);
								const fCol = finalLayout[fColI + colI];
								const col = layout[colI];
								// Overrun the length of the layout, and all tests passed to this point. We're good to go.
								// This can only happen if the first column already exists, otherwise we wouldn't be in the loop.
								// So we're extending.
								// This means there can't be spaces in the layout with undefined in, otherwise this check breaks.
								if (fCol === undefined) {
									insertionIndex = fColI;
									extend = true;
									break;
								}
								// Priority of the current column is too high, we need to move on to the next column.
								if (layoutPriority < fCol.priority) {
									break;
								}
								// We've overrun the columns with equal or higher priority without finding a fit.
								// Need to insert at the end of that.
								if (fCol.priority < layoutPriority) {
									insertionIndex = fColI;
									break;
								}
								// Can't insert, the column is too high.
								if (col.startRow < fCol.startRow + fCol.height) {
									break;
								}
								// We've passed all the tests and reached the final column. WE DID IT.
								insertionIndex = fColI;
								extend = true;
							}
						}
						// Didn't find anything valid, we tack the layout on the end.
						console.log("Adding new layout to final - here's the final beforehand")
						console.log(finalLayout.slice())
						if (insertionIndex < 0) {
							console.log("Appending");
							finalLayout.push(...layout);
						} else {
							// We're putting these columns under an existing set.
							if (extend) {
								console.log("Extending");
								for(let i = 0; i < layout.length; i++) {
									let fIndex = insertionIndex + i;
									// Abusing JS's ability to extend an array by assigning beyond its length.
									finalLayout[fIndex] = mergeColumns(layout[i], finalLayout[fIndex]);
								}
							} else {
								console.log("Inserting")
								finalLayout.splice(insertionIndex, 0, ...layout);
							}
						};
						console.log("And here's after")
						console.log(finalLayout.slice())
					}

					return finalLayout;
				}

				// Columnular layout - sequential series of columns, where each column has a start row, height and contains nodes.
				const createColumnularLayoutFromNode = (node) => {
					const childColumnLayouts = node.dependencies.map(child => createColumnularLayoutFromNode(child));
					const maxPriority = Math.max(...childColumnLayouts.map(layout => layout[0].priority));
					const nodeColumnLayout = [{
						startRow: node.row,
						height: 1,
						nodesInRowOrder: [node],
						priority: Math.max(maxPriority, node.priority ?? 0),
					}];

					return combineColumnLayouts([nodeColumnLayout, ...childColumnLayouts])
				}

				function layoutToRows(columns) {
					const layoutHeight = Math.max(...columns.map(column => column.startRow + column.height))
					console.log(layoutHeight);
					const rows = [];

					for (let i = 0; i < layoutHeight; i++) {
						rows[i] = [];
					}

					columns.forEach((column, columnIndex) => {
						for (let node of column.nodesInRowOrder) {
							console.log(node);
							rows[node.row][columnIndex] = node
						}
					});

					return rows;
				}

				const createGridFromNodes = (nodes) => {
					const dependentNodes = [];

					for (const node of nodes) {
						for (const dependentNode of node.dependencies) {
							dependentNodes.push(dependentNode)
						}
					}

					const rootNodes = nodes.filter(node => !dependentNodes.includes(node));

					const columnLayouts = rootNodes.map(rootNode => {
						console.log(`Layout for ${rootNode.skill.title}`);
						const l = createColumnularLayoutFromNode(rootNode)
						console.log(l);
						return l;
					});


					const layout = combineColumnLayouts(columnLayouts);
					console.log("Full layout");
					console.log(layout);
					const rows = layoutToRows(layout);

					const maxRowLength = Math.max(...rows.map(row => row.length))
					for (const row of rows) {
						if (row.length < maxRowLength) {
							// Extend the row to match the others
							row[maxRowLength - 1] = undefined
						}
					}

					/*
					// Border formatting code
					for (const block of layout.positionedBlocks) {
						if (block.width > 1 || block.height > 1) {
							const xOffset = block.column;
							const yOffset = block.startRow;
							for (let i = 0; i < block.width; i++) {
								const x = xOffset + i;
								const topNode = rows[yOffset][x] ?? { style: {} };
								topNode.style.borderTop = "solid 1px grey";
								rows[yOffset][x] = topNode;
								const bottomY = yOffset + block.height - 1;
								const bottomNode = rows[bottomY][x] ?? { style: {} };
								bottomNode.style.borderBottom = "solid 1px grey";
								rows[bottomY][x] = bottomNode;
							}
							for (let i = 0; i < block.height; i++) {
								const y = yOffset + i;
								const topX = xOffset;
								const topNode = rows[y][topX] ?? { style: {} };
								topNode.style.borderLeft = "solid 1px grey";
								rows[y][topX] = topNode;

								const bottomX = xOffset + block.width - 1;
								const bottomNode = rows[y][bottomX] ?? { style: {} };
								bottomNode.style.borderRight = "solid 1px grey";
								rows[y][bottomX] = bottomNode;
							}
						}
					}
					*/

					return rows;
				};

				const calcSkillNodes = (newTree) => {
					const nodes = newTree.allSkills.map(skill => ({
						id: skill.id,
						// Needed to be a valid node
						row: highestTier.value - skill.tier,
						// Extra details for this node
						skill,
						priority: skill.priority,
					}));
					
					for (const node of nodes) {
						node.dependencies = node.skill.dependencyIds.map(skillId => nodes.find(nodeToCheck => nodeToCheck.skill.id === skillId))
					}

					return nodes;
				};

				const skillNodes = ref(currentTree.value ? calcSkillNodes(currentTree.value) : []);
				watch(currentTree, (newTree) => {
					skillNodes.value = calcSkillNodes(newTree);
				});


				const skillGrid = computed(() => {
					const nodes = skillNodes.value;
					if (nodes.length === 0) { return []; };

					const grid = createGridFromNodes(skillNodes.value);

					console.log("GRID");
					console.log(grid);
					return grid;
				})


				const hoveredNode = ref(undefined);

				const setShowDependency = (node, value) => {
					node.showDependency = value;
					for (let subnode of node?.dependencies) {
						setShowDependency(subnode, value);
					}
				}

				watch(hoveredNode, (newNode, oldNode) => {
					newNode?.dependencies.forEach((node) => setShowDependency(node, true))
					oldNode?.dependencies.forEach((node) => setShowDependency(node, false))
				})

				const skillRows = computed(() => {
					return skillGrid.value;
				});

				const rowSize = computed(() => Math.max(...(skillRows.value.map(row => row.length))))

				const mouseenter = (skill, event) => {
					console.log("Entered", skill)
					hoveredNode.value = skill;
				}

				const mouseexit = () => {
					console.log("Exit", hoveredNode.value)
					hoveredNode.value = undefined;
				}

				return {
					currentTreeName,
					skillRows,
					trees: treeNames,
					rowSize,
					mouseenter,
					mouseexit,
				}
			}
		})
		
		App.mount('#app')
	</script>
</body>
</html>