<!doctype html>
<html>
<head>
	<title>Skill tree viewer</title>
	<script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<style>
		body {
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
		
		p {
			margin: 5px;
		}

		@media print {
			.no-print {
				visibility: hidden;
			}
		}

		.tree-selector {
			position: fixed;
			top: 10px;
			left: 50%;
			transform: translate(-50%);
			min-width: 200px;
			text-align: center;
			font-size: 1.5em;
			z-index: 100;
		}

		.current-tree {
			text-align: center;
		}

		.skill-tiers {
			display: grid;
			width: min-content;
			margin-left: auto;
			margin-right: auto;
		}

		.empty-skill {
			width: 197px;
		}

		.cell {
			padding: 20px;
		}

		.skill {
			position: relative;
			border: solid 1px black;
			padding: 10px;
			width: 175px;
			text-align: center;
		}

		.skill.active {
			background-color: lightgreen;
		}

		.skill.ultimate {
			background-color: lightpink;
		}

		.skill.passive {
			background-color: lightgrey;
		}

		.skill .type {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: bolder;
			font-size: 1.2em;
			padding: 3px;
		}

		.skill .items {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.skill .description {
			flex-grow: 1;
		}

		.skill .cost {
			font-size: 1.3em;
			justify-self: end;
		}

		.skill .title {
			font-weight: bolder;
			font-size: 1.5em;
		}
	</style>
</head>
<template id="skill">
	<div :class="classes" :style="style">
		<div class="type">{{ skill.type }}</div>
		<div class="items">
			<p class="title">{{ skill.title || "" }}</p>
			<p class="description">{{ skill.description }}</p>
			<p class="cost">{{ skill.cost }} SP</p>
		</div>
	</div>
</template>
<body>
	<div id="app">
		<select class="tree-selector no-print" @change="currentTree = $event.target.value">
			<option :value="tree" v-for="tree in trees">{{ tree }}</option>
		</select>
		<h1 class="current-tree">{{ currentTree }}</h1>
		<div class="skill-tiers" :style="{ gridTemplateColumns: `repeat(${rowSize}, 1fr)` }">
			<template v-for="row in skillRows">
				<template v-for="cell in row">
					<div class="cell" :style="cell?.style">
						<Skill v-if="cell?.skill" :skill="cell.skill"></Skill>
						<div v-else class="empty-skill"></div>
					</div>
				</template>
			</template>
		</div>
	</div>
	<script type="text/javascript">
		grist.ready({ columns: [
			{
				name: "title",
				title: "Skill title",
				optional: false,
				type: "Text",
			},
			{
				name: "description",
				title: "Skill description",
				optional: false,
				type: "Text",
			},
			{
				name: "cost",
				title: "Skill cost",
				optional: false,
				type: "Any",
			},
			{
				name: "tier",
				title: "Skill tier",
				optional: false,
				type: "Any",
			},
			{
				name: "type",
				title: "Skill type",
				optional: false,
				type: "Text",
			},
			{
				name: "tree",
				title: "Skill tree",
				optional: true,
				type: "Text",
			},
			{
				name: "horizontalPriority",
				title: "Horizontal priority",
				optional: true,
				type: "Numeric",
			},
			{
				name: "dependencies",
				title: "Dependencies",
				optional: true,
				type: "Reference"
			}	
		]});


		const testSkills = [
			{
				id: 1,
				title: "Skill 1 (Family A)",
				description: "Does a thing",
				cost: 1,
				tier: 0,
				type: "A",
				tree: "Combat",
			},
			{
				id: 2,
				title: "Skill 2",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "P",
				tree: "Combat",
			},
			{
				id: 3,
				title: "Skill 3 (Family A)",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "P",
				tree: "Combat",
				//horizontalPriority: 1,
				dependencies: [1],
			},
			{
				id: 4,
				title: "Skill Four (Family A)",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				tree: "Combat",
				dependencies: [3],
			},
			{
				id: 5,
				title: "Skill Five",
				description: "Does a whole lot of thing, some of which may be important, some of which may be not. What matters is, this text is long.",
				cost: 2,
				tier: 3,
				type: "U",
				tree: "Combat",
			},
			{
				id: 6,
				title: "Skill Six",
				description: "Does something",
				cost: 2,
				tier: 3,
				type: "U",
				tree: "Combat",
			},
			{
				id: 7,
				title: "Skill S - 1A",
				description: "Does something",
				cost: 2,
				tier: 1,
				type: "U",
				tree: "Combat",
			},
			{
				id: 8,
				title: "Skill S - 1B",
				description: "Does something",
				cost: 2,
				tier: 1,
				type: "U",
				tree: "Combat",
			},
			{
				id: 9,
				title: "Skill S - 2",
				description: "Does something",
				cost: 2,
				tier: 2,
				type: "U",
				tree: "Combat",
				dependencies: [ 7, 8 ],
			},
			{
				id: 10,
				title: "Skill S - 3",
				description: "Does something",
				cost: 2,
				tier: 3,
				type: "U",
				tree: "Combat",
				dependencies: [ 9 ],
			},
			{
				id: 11,
				title: "Skill S - 4",
				description: "Does something",
				cost: 2,
				tier: 4,
				type: "U",
				tree: "Combat",
				dependencies: [ 10 ],
			},
			{
				id: 107,
				title: "Skill One",
				description: "Does a thing",
				cost: 1,
				tier: 0,
				type: "P",
				tree: "Pointman",
			},
			{
				id: 108,
				title: "Skill Two",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "A",
				tree: "Pointman",
			},
			{
				id: 109,
				title: "Skill Three",
				description: "Does a thing",
				cost: 1,
				tier: 1,
				type: "U",
				tree: "Pointman",
			},
		]

		const { createApp, ref, computed, watch } = Vue

		const Skill = {
			props: ['skill'],
			setup(props) {
				const style = ref({ 
				})

				const skillTypeClassMap = {
					P: 'passive',
					A: 'active',
					U: 'ultimate',
				}

				const classes = computed(() => {
					const classValues = ['skill']

					if (props.skill.type) {
						classValues.push(skillTypeClassMap[props.skill.type])
					}

					return classValues
				})

				return {
					style,
					classes
				}
			},
			template: document.querySelector('#skill').getHTML()
		}

		const sortByHorizontalPriority = (skillA, skillB) => {
			const a = skillA.horizontalPriority;
			const b = skillB.horizontalPriority;
			if (a === b) {
				return 0;
			}
			if (a === undefined) {
				return 1;
			}
			if (b === undefined) {
				return -1;
			}
			if (a < b) {
				return 1;
			}
			return -1;
		}

		const App = createApp({
			components: {
				Skill,
			},
			setup() {
				const urlParams = new URLSearchParams(window.location.search);
				const inTestMode = urlParams.get('test');

				const rawSkills = ref(inTestMode ? testSkills : []);

				grist.onRecords(function (records, mappings) {
					console.log("Received records from Grist")
					const mappedRecords = records.map(grist.mapColumnNames)
					console.log(mappedRecords)

					rawSkills.value = mappedRecords;
				});

				const allSkills = computed(() => {
					const normalizedSkills = rawSkills.value.map(skill => ({
						...skill,
						dependencies: skill.dependencies ?? [],
					}));

					return normalizedSkills
				})

				const trees = computed(() => {
					console.log("Evaluating trees")
					console.log(allSkills.value)
					const trees = new Set();
					for (let skill of allSkills.value) {
						trees.add(skill.tree || "No tree")
					}
					return Array.from(trees)
				})

				const currentTree = ref(trees.value[0])

				watch(trees, (newTrees) => {
					if (!newTrees.includes(currentTree.value)) {
						currentTree.value = newTrees[0]
					}
				})

				const skillsInCurrentTree = computed(() => {
					console.log("Evaluating skills")
					console.log(currentTree)
					console.log(allSkills.value)
					return allSkills.value.filter((skill) => skill.tree === currentTree.value)
				})

				const highestTier = computed(() => Math.max(...skillsInCurrentTree.value.map(skill => skill.tier)))

				const skillsByTier = computed(() => {
					console.log("Evaluating tiers")
					console.log(skillsInCurrentTree.value)
					const tiers = [];
					for (let i = 0; i <= highestTier.value; i++) {
						tiers[i] = [];
					}
					for (let skill of skillsInCurrentTree.value) {
						tiers[skill.tier].push(skill)
					}
					return tiers
				})

				const skillsByTierHighestFirst = computed(() => skillsByTier.value.slice().reverse())

				function addStyleToAllocatedBlock(aBlock, rows) {
					if (aBlock.block.skills.length < 2) {
						return
					}

					const setStyle = (row, col, v) => { 
						let o = rows[aBlock.r + row][aBlock.c + col]
						if(o) {
							o.style = { ...o.style, ...v };
						} else {
							o = { style: v }
						}
						rows[aBlock.r + row][aBlock.c + col] = o
					}

					const maxRow = aBlock.block.height - 1;
					const maxCol = aBlock.block.width - 1;
					for (let r = 0; r <= maxRow; r++) {
						setStyle(r, 0, { borderLeft: "solid 1px black" });
						setStyle(r, maxCol, { borderRight: "solid 1px black" });
					}
					for (let c = 0; c <= maxCol; c++) {
						setStyle(0, c, { borderTop: "solid 1px black" });
						setStyle(maxRow, c, { borderBottom: "solid 1px black" });
					}
				}

				const sampleNode = {
					row: 0,
				}

				const sampleBlock = {
					startRow: 0,
					endRow: 0,
					height: 0,
					width: 0,
					node: undefined,
					blocks: [],
					column: undefined, // Assigned when allocated to a gap
				}

				const findGap = (gaps, block) => {
					let consumedGaps = [];
					let currentWidth = 0;
					let consumedGapsStartIndex = 0;
					for (let i = 0; i < gaps.length; i++) {
						const gap = gaps[i];
						// Could be moved into the check below.
						if (consumedGaps.length === 0) {
							consumedGapsStartIndex = i;
						}
						if ( gap.r <= block.startRow ) {
							consumedGaps.push(gap)
							currentWidth += gap.w;
						} else {
							consumedGaps = [];
							currentWidth = 0;
							continue
						};

						// If we've found a valid space
						if ( consumedGaps.length > 0 && block.width <= currentWidth ) {
							// Pushes new bottom gap that's guaranteed to have formed
							const newBottomGap = {
								r: block.startRow + block.height,
								c: consumedGaps[0].c,
								w: block.width,
							}
							const newGaps = [newBottomGap];

							const leftoverWidth = currentWidth - block.width;
							if (leftoverWidth > 0) {
								// It will always be the last gap, since this runs as soon as we have enough space.
								const lastGap = consumedGaps.slice(-1)[0]
								const consumedWidth = lastGap.w - leftoverWidth;
								newGaps.push({
									r: lastGap.r,
									c: lastGap.c + consumedWidth,
									w: leftoverWidth,
								})
							}

							gaps.splice(consumedGapsStartIndex, consumedGaps.length, ...newGaps);

							block.column = consumedGaps[0].c;
							return {
								gaps,
								positionedBlock: block,
							}
						}
					}

					return undefined
				}

				const layoutBlocks = (blocks) => {
					if (blocks.length === 1) {
						const block = blocks[0];
						block.column = 0;
						return {
							width: block.width,
							height: block.height,
							positionedBlocks: [block],
						}
					}
					// Blocks should be sorted by row
					blocks.sort((a, b) => a.row - b.row)
					// Gaps should *always* be sorted by column, to allow for reconciliation.
					// This occurs naturally when a gap split occurs - as long as it returns the bottom fragment, then the right fragment.
					let gaps = [{
						r: 0,
						c: 0,
						w: 9999,
					}];

					let height = 0;
					let width = 0; 

					const positionedBlocks = [];

					// TODO - Better gap handling to avoid laddering.
					// The bottom gap is too narrow to slow in a big block.
					// Could try an approach where gaps are merged, if the item is too big?
					// Has come about because of the change to recursive layout rendering.
					let lastRow = blocks[0].row
					for (const block of blocks) {
						// Right now this modifies gaps, so don't need newGaps
						const findGapResult = findGap(gaps, block);
						const { gaps: newGaps, positionedBlock } = findGapResult;
						positionedBlocks.push(positionedBlock);
						height = Math.max(positionedBlock.startRow + positionedBlock.height, height) 
						width = Math.max(positionedBlock.column + positionedBlock.width, width) 
					}

					return {
						width,
						height,
						positionedBlocks,
					}
				}

				// Recurse after to build grid - more efficient to do it in one pass
				const createBlockLayoutFromNode = (node, parentNode = { row: 0 }) => {
					const startRow = node.row - parentNode.row;
					const childBlocks = node.dependencies.map(child => createBlockLayoutFromNode(child, node));
					const nodeBlock = {
						startRow: 0,
						endRow: 0,
						height: 1,
						width: 1,
						node,
						blocks: [],
					}

					const layout = layoutBlocks([nodeBlock, ...childBlocks])

					return {
						// First row index where this block has a node
						startRow,
						// Final index where this block has a node
						endRow: startRow + layout.height - 1,
						height: layout.height,
						width: layout.width,
						blocks: layout.positionedBlocks,
					}
				}

				function addPositionedBlockToRows(block, rows, offset = { row: 0, column: 0 }) {
					const row = offset.row + block.startRow;
					const column = offset.column + block.column;
					if (block.node) {
						rows[row][column] = block.node
					}
					for (let childBlock of block.blocks) {
						addPositionedBlockToRows(childBlock, rows, { row, column })
					}
				}

				function layoutToRows(layout) {
					const rows = [];

					for (let i = 0; i < layout.height; i++) {
						rows[i] = [];
					}

					for (let block of layout.positionedBlocks) {
						addPositionedBlockToRows(block, rows);
					}

					return rows;
				}

				const createGridFromNodes = (nodes) => {
					const dependentNodes = [];

					for (const node of nodes) {
						for (const dependentNode of node.dependencies) {
							dependentNodes.push(dependentNode)
						}
					}

					const rootNodes = nodes.filter(node => !dependentNodes.includes(node));

					rootNodes.sort((a, b) => a.row - b.row)

					const blocks = rootNodes.map(rootNode => createBlockLayoutFromNode(rootNode));

					const layout = layoutBlocks(blocks);
					console.log("Full layout");
					console.log(layout);
					const rows = layoutToRows(layout);

					for (const row of rows) {
						if (row.length < layout.width) {
							// Extend the row to match the others
							row[layout.width - 1] = undefined
						}
					}

					return rows;
				};

				const skillRows = computed(() => {
					const nodes = skillsInCurrentTree.value.map(skill => ({
						// Needed to be a valid node
						row: highestTier.value - skill.tier,
						// Extra details for this node
						skill,
						style: {},
					}));

					for (const node of nodes) {
						node.dependencies = node.skill.dependencies.map(skillId => nodes.find(nodeToCheck => nodeToCheck.skill.id === skillId))
					}

					//addStyleToAllocatedBlock(aBlock, rows);
					const grid = createGridFromNodes(nodes);

					console.log("GRID");
					console.log(grid);
					return grid;
				});

				const rowSize = computed(() => Math.max(...(skillRows.value.map(row => row.length))))

				return {
					currentTree,
					skillRows,
					trees,
					rowSize,
				}
			}
		})
		
		App.mount('#app')
	</script>
</body>
</html>